.eventDetails{
    margin: 15px 45px 15px 0;
    height: 40vh;
    border: 0px grey solid;
    border-radius: 10px 10px;
    padding: 25px;
    font-size: 14px;
    /*width: 280px;*/
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
        /* use flexbox 
    position: relative;
    left: 50%;
    bottom: 130%; */
}
.eventDetails p {
    font-size: 14px !important;
    color: #7F8C8D;
}
.eventDetails h2 {
    margin-bottom: 5px ;
}
.eventDetails h3 {
    line-height: 50px;
}

