.greenish {
  color: #1abc9c;
}

.greyish {
  color: #7f8c8d;
}

.white {
  color: #ffffff;
}

.extrasmall {
  font-size: 18px;
}

.small {
  font-size: 28px;
}

.medium {
  font-size: 32px;
}

.large {
  font-size: 42px;
}
