.greenish {
    color: #1ABC9C;
}

.greyish {
    color: #7F8C8D;
}

.white {
    color: #FFFFFF;
}

.extrasmall {
    font-size: 18px;
}

.small {
    font-size: 28px;
}

.medium {
    font-size: 32px;
}

.large {
    font-size: 42px;
}

