.linkList{
    margin: 20px 0px 20px;
}
.linkGroup {
    margin-right: 20%;
}
.footerLink {
    display: flex;
}
li{
    list-style-type: none;
    line-height: 36px;
    
}
li > a{
    text-decoration: none;
    color: white;
}
