.coverPhoto {
    margin: 15px 0 15px 45px;
    text-align: center;
    border-radius: 10px 10px;
    height: 80vh;
    box-shadow: 0px 3px 6px #00000029 ;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  -moz-box-shadow: 0px 3px 6px #00000029;
}

.coverText {
    display: flex;
   display: inline-flex;
   margin: 45px;
   font-size: 18px;
   font-weight: 600;
   /*align-items: center;*/
}

.coverFirst {
    margin-right: 10px;
}

.coverPhoto > img {
    margin: 15px 0;
}