.socials{
    background-color: white;
    position: absolute;
    padding: 10px 15px;
    top: 9%;
    right: 5%;
}
.socials > a > img{
    width: 30px;
    padding: 18px 0px;
    display: block

}
.platform{
    margin-top:17px;
}
.platform > a > img{
    width:30px;
    padding-left: 18px;
}