.jumbotron {
  display: flex;
  margin: 15px 45px;
  flex-wrap: wrap;
}

.main {
  flex-basis: 55%;
  height: 60vh;
  margin-top: 30px;
  margin-left: 20px;
  padding: 30px 40px 10px 10px;
}

.photo {
  
  background-image: url("../../../src/images/jumbotron_image.png");
  background-size: cover;
  background-position: center;
  border-radius: 50px 0px;
  box-shadow: -20px 20px #1abc9c;
  -webkit-box-shadow: -20px 20px #1abc9c;
  -moz-box-shadow: -20px 20px #1abc9c;
  flex-grow: 1;
  height: 60vh;
  opacity: 1;
  padding: 0px 20px 0px 0px;
}

@media (max-width: 740px) {
  .photo {
    order: 1;
    flex-basis: 100%;
    margin-left: 10px;
    
  }
  .main {
    order: 2;
  }

}