footer{
    background: #1ABC9C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin: 0% 5% 12% 5% ;
    /* change padding to affect how social icons look */
    padding: 2% 2% 2% 4%;
    color: white;
    font-size: 125%;

}
