.greenshadow {
  box-shadow: -30px 30px #1abc9c;
  -webkit-box-shadow: -10px 10px #1abc9c;
  -moz-box-shadow: -10px 10px #1abc9c;
  border-radius: 50px 0px;
}
 .imageClass {
   border-radius: 100px;
 }